body, html{
    background-color: rgb(240, 231, 232);
    height: 100%;
    margin: 0;
}

.container {
    display: flex;
    justify-content: center; 
    align-items: center;     
    height: 100vh;           
  }

.pig {
    padding: 20px;
}
.pig-head {
border: 1px solid violet;
width: 100px;
height: 100px;
border-radius: 50%;
background-color: palevioletred;
}
.pig-ears {
    display: flex;
    justify-content: space-around;
}
.pig-ear {
   background-color: pink;
   width: 20px;
   height: 20px;
   border: 1px solid violet;
   border-radius: 50%;
}
.pig-inner-ear {
    background-color: palevioletred;
    width: 10px;
    height: 10px;
    border: 1px solid violet;
    border-radius: 50%;
}
.pig-eyes {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.pig-eye {
    border: 1px solid black;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pig-pupil {
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: black;
}

.pig-nose {
    border: 1px solid violet;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: pink;
    align-content: center;
}
.pig-blowholes {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.pig-blowhole {
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: black;
}