/* estilos del aboutme */
.accordion-header {
    cursor: pointer;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* font-size: 1.5em; */
    transition: background-color 0.3s ease;
    /* border-top-right-radius: 10px; */
}

.accordion-header:hover {
    background-color: #1e3a8a; 
    color: white;
}

.about-me-paragraph {
    padding: 0 20px;
    margin-bottom: 15px;
    line-height: 1.6;
}

.about-me-accordion > .about-me-paragraph:last-of-type {
    margin-bottom: 0;
    padding-bottom: 15px;
}

.accordion-content {
    padding: 0 20px 20px 20px;
}

.accordion-content .about-me-paragraph {
    margin-top: 15px; 
    margin-bottom: 15px;
    padding: 0;
}

.accordion-content .about-me-paragraph:first-child {
    margin-top: 0;
}

.accordion-content .about-me-paragraph:last-child {
    margin-bottom: 0;
}